.layout-container {
    width: 100%;
    min-height: 100vh;
    background-color: #F2F2F2;
}

.layout-header-container {
    width: 100%;
    z-index: 100;
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.75);
}

.layout-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.layout-children {
    width: 80%;
    margin-left: 8%;
    padding-top: 120px;
}

.header-button {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.header-avatar {
    display: flex;
    margin-left: 35px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.menu-container {
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 120px;
}

.menu-centered {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.menu-item {
    width: 200px;
    margin-top: 0;
    padding-top: 0;
    cursor: pointer;
    margin-bottom: 10px;
}